<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Statastics</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="Statastics">
        <h1>Statastics - </h1>
        <div class="total-sale">
            <table>
                <tr>
                    <td>Total Sale &nbsp;</td>
                    <td><%=totalSale%></td>
                </tr>
                <tr>
                    <td>Total Sold Item &nbsp;</td>
                    <td><%=totalSoldItem%></td>
                </tr>
                <tr>
                    <td>Total Not Sold Item &nbsp; &nbsp;</td>
                    <td><%=totalNotSoldItem%></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>